[submodule ".vim/pack/themes/start/dracula"]
	path = .vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/plugged/osc52.vim"]
	path = .vim/plugged/osc52.vim
	url = https://github.com/ojroques/vim-oscyank.git
